/*
    This file contains css for:
    - the first
        - search buttons



*/

/* HEADER BEGINS */

.header {
    background-color: #717744;
    box-sizing: border-box;
    color: #fefefe;
    left: 0;
    overflow: hidden;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    top: 0;
    width: 100%; 
}

.logo {
    border: none;
    cursor: pointer;
    padding-top: 1.1em;
    padding-left: 1em;
    width: 60px;
}
  
header h1 a{
    color:#fefefe;
}

.pagetitle {
    color: #fefefe;
    display:inline-block;
    font-size: 60px;
    font-weight: 500;
    left: 0;
    margin-left: 0.5em;
    top: 0;
}

.catch {
    color: #fefefe;
    display: flexbox;
    font-family: 'Satisfy', cursive;
    font-size: 15px;
    font-weight: 200;
    left: 0;
    padding-left: 9em;
    top: 0;
}

header h1 a:hover{
    color: #fefefe;
}

/* SEARCH BUTTONS */

.search input {
    align-items: center;
    background-color:  #abac7f;
    border: 1px solid transparent;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    display: inline-block;
    margin-right: 5.5em;
    padding: 0.5em 1em 0.5em 1em;
}

.search input:hover, .search input:focus {
    background-color:  #abac7f;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.search input:active {
    background-color:  #abac7f;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
}
  
#searchbutton {
    align-items: center;
    background-color:  #abac7f;
    border: 1px solid transparent;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: #373d20;
    display: inline-block;
    font-size: 15px;
    margin-right: 1em;
    padding: 0.5em 1em 0.5em 1em;
    position: absolute;
    right: 1em;
    top: 9.7em;
}
  
#searchbutton:first-child {
    margin-right: 4em;
}

#searchbutton:hover, #searchbutton:focus {
    background-color:  #abac7f;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

#searchbutton:hover {
    transform: translateY(-2px);
}

/* SEARCH BUTTON ENDS */

footer {
    background-color: transparent;
    bottom: 0;
    color: #717744;
    font-size: 15px;
    height: 1em;
    left: 0;
    padding-bottom: 1em;
    padding-top: 5px;
    text-align: center;
    width: 100%;
}

/* Links organized */

a:link, a:visited {
    text-decoration: none;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media only screen and (max-width: 1500px) {
    .dishp {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
}

@media only screen and (min-width: 1200px) {
    .dishp {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }
}

@media only screen and (max-width: 450px) {
    .dishp {
        display: grid;
        grid-template-columns: 50%;
    }
    .header {
        width: 100%; 
        left: 0;
        top: 0;
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 1em;
        box-sizing: border-box;
        overflow: hidden;
    }

    .logo {
        width: 40px;
        cursor: pointer;
        border: none;
        padding-top: 1.1em;
        padding-left: 0.5em;
    }

    .pagetitle {
        font-size: 35px;
        font-weight: 500;
        padding-left: 0.2em;
    }

    .catch {
        font-size: 10px;
        padding-left: 6em;
        padding-top: 1em;
    }

    .header-right {
        float: none;
    }

    .openbar {
        position: absolute;
        display: block;
        text-align: left;
    }

    .username {
        font-size: 25px;
        padding-left: 1em;
        padding-top: 0.5em;
    }

    .menu ul li a{
        font-size: 15px;
        font-weight: 300;
        padding: 1em;
    }

    .register {
        position: absolute;
        margin-top: 2em;
        margin-left: 1em;
        font-size: 1px;
        left: 0;
        top:0;
        border: none;
    }

    .login label, .login input{
        display: block;
    }

    .logout button {
        font-size: 13px;
        position: absolute;
        padding-top: 5.5em;
        top: 0;
        border: none;
    }
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }

    .logout button {

    }
}