/* DrawDishCategories*/

.restdishes, .avgscore {
    display: inline-block;
}


/* DrawDishesFromRestaurant */

#favorite, .dishedit, .dishtrash {
    display: inline-block;
}

.dishedit {
    align-items: center;
    background-color: transparent;
    border: 0em transparent;
    color: #fefefe;
    font-size: 16px;
}

.dishedit a:visited, .dishedit a:link {
    color: #fefefe;
}

.dishtrash {
    align-items: center;
    background-color: transparent;
    border: 0em transparent;
    color: #fefefe;
    font-size: 16px;
}

.dishtrash a:visited, .dishtrash a:link {
    color: #fefefe;
}

.categoryname {
    color: #080808;
    font-family: 'Satisfy', cursive;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
    margin-left: 4em;
    margin-top: 1em;
}

.dishp {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.restdishes {
    color: #080808;
    font-family: 'Satisfy', cursive;
    font-size: 40px;
    font-weight: 400;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1.0em;
    text-transform: capitalize;
}

.dishadd {
    align-items: center;
    background-clip: padding-box;
    background-color:  #abac7f;
    border: 1px solid transparent;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: #080808;
    display: inline-block;
    font-size: 15px;
    margin: 1em;
    margin-left: 1em;
    margin-top: 0.2em;
    padding: 1em;
}

.dishadd:hover, .dishadd:focus {
    background-color:  #abac7f;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.dishadd:hover {
    transform: translateY(-2px);
}

.dishadd:visited {
    background-color:  #abac7f;
    color: #080808;
}

.dishinfo {
    align-items: center;
    background-clip: padding-box;
    background-color:  #abac7f;
    border: 1px solid transparent;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: #080808;
    display: inline-block;
    font-size: 15px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding: 3em;
    vertical-align: top;
    width: 200px;
}

.dishinfo:hover, .dishinfo:focus {
    background-color:  #abac7f;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.dishadd:visited {
    background-color:  #abac7f;
    color: #080808;
}

.dishinfo #favorite {
    align-items: flex-end;
    background-color: transparent;
    border: none;
    color: #fefefe;
    display: block;
    font-size: 16px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 0.25em;
    margin-top: 0em;
}

.dishphoto {
    align-self: center;
    display: block;
    justify-content: center;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.dishinfo span{
    font-weight: 600;
}

.quantity {
    align-items: center;
    background-color:  #373d20;
    border: 1px solid transparent;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: #fefefe;
    font-size: 16px;
    margin-top: 1em;
    padding: 0.5em 1em 0.5em 1em;
    width: 4em;
}

.orderbutton {
    align-items: center;
    background-color:  #373d20;
    border: 1px solid transparent;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: #fefefe;
    font-size: 16px;
    padding: 0.5em 1em 0.5em 1em;
    cursor: pointer;
}

.orderbutton:hover, .orderbutton:focus {
    background-color:  #373d20;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.orderbutton:hover {
    transform: translateY(-2px);
}

.orderbutton:active {
    background-color: #49502d;
}

/* DrawDishForm */

